#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a, main, section{
    text-align: center;

}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
#background {
    height: 725px;
    background-color:whitesmoke ;
}
body {
    background-color: white;
}
header, footer{
    background-color: rgba(13, 170, 21, 0.78);
}
.book, .join, .book:hover, .join:hover, .msg{
    background-color: whitesmoke;
}
nav a:hover{
    background-color: rgba(13, 170, 21, 0.78);

}
.icon, .logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}
nav a {
    text-decoration: underline;
}
.book, .join{
    text-decoration: underline;
}
footer a {
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
} 
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
.msg {
    background-color: rgba(13, 170, 21, 0.78);
    line-height: 1.5em;
  }
  body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
#logo_link {  padding-top: 5px;
}
nav a  { padding: 35px;
}
.book, .join  { padding: 15px 30px;
}
.icon  { padding-top: 10px;
}
.msg  { padding: 35px;
}
.msg p  { padding-bottom: 15px;
}
footer  { padding: 25px 50px;
}
footer .social img {  padding-top: 15px;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.home-title  { margin-top: 10px;
}
.book, .join  { margin-top: 50px;
}
.rivers-card, .camping-card, .rapids-card {  margin: 200px 0;
}
footer  { margin-top: 200px;
}
.book, .join {
    background-color: rgba(13, 170, 21, 0.78);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book, .join {
    background-color: rgba(13, 170, 21, 0.78);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid rgba(13, 170, 21, 0.78);
}
main section img {
    box-sizing: border-box;
}
footer{
    background-color: rgba(13, 170, 21, 0.78);
}
.mountains {
    display: block;
    margin: 10px;
    
 }